{% comment %}

  The collection_gallery include requires a "collection" variable and has the
  following option variables: "only", "facet_by", and "num_column"

  It can be added to a page using code like this:

  {% include collection_gallery.html collection='qatar'
      facet_by='object_type|location' num_column=4 %}

  If a field name is passed to the include variable "only", the collection
  will be filtered to items that have a truthy value for that field name.
  (See  https://shopify.github.io/liquid/filters/where/)

  For the "facet_by" include variable, specify one or more field names in a
  pipe-separated list.

  For the "num_column" include variable, specify a number that is a divisor of
  12 (i.e, 1, 2, 3, 4, or 6). The default is 2 columns.

{% endcomment %}

{% assign collection = site[include.collection] %}

{% if include.only %}
  {% assign collection = collection | where: include.only | sort: 'order' %}
{% endif %}

{% if include.num_column %}
  {% assign min_column_width = 12 | divided_by: include.num_column %}
{% elsif %}
  {% assign min_column_width = 6 %}
{% endif %}

{% if include.facet_by %}
  {% assign facet_list = include.facet_by | split: "|" %}


  <form class="row" id="facets">
    {% for item in facet_list %}
    <fieldset id="{{item | slugify}}-set" class="card m-1 facet-card">
      <div class="card-header facet-header">
      <a class="facet-bn" data-toggle="collapse" href="#{{item | slugify }}-collapse" role="button" aria-expanded="false" aria-controls="{{item | slugify }}-collapse">
        <legend>{{item | replace: "_", " "}}
          <span class="oi oi-chevron-bottom float-right ml-2" aria-hidden="true"></span>
        </legend>
      </a>
          {% assign options = collection | map: item | compact | uniq | sort_natural %}
      </div>
      <div class="collapse" id="{{item | slugify }}-collapse">
        <div class="card-body">


          {% for option in options %}
            <div class="facet-item">
              <input id="{{option | slugify}}" class="{{item | slugify}}" type="checkbox" name="{{option}}" value="{{option}}">
              <label for="{{option}}">{{option}}</label>
            </div>
          {% endfor %}


        </div>
      </div>
    </fieldset>
    {% endfor %}
  </form>

{% endif %}

<!-- CODE FOR ASSIGNING FACETS -->



<div id='wax-gallery-{{ include.collection }}-container' class='wax-gallery-container full-width'>
  <div class='wax-inline-container'>
    <div id="wax-gallery-{{ include.collection }}" class="wax-gallery">
      <div class="row">
        {% for item in collection %}
        {% assign newClasses = '' | split: ' ' %}
        {% if facet_list %}
          {% for fieldSet in facet_list %}
          {% assign fieldSetArray = item[fieldSet] | slugify | split: ' '  %}
          {% assign newClasses = newClasses | concat: fieldSetArray %}
          {% endfor %}
        {% endif %}
          <div class="gallery-item {{  newClasses | join: ' ' }} col-xl-{{min_column_width}} p-1">

            <div class='card thumbnail-card'>
              <img class='d-block card-img-top gallery-thumb w-100 mh-100' src='{{ item.thumbnail | absolute_url }}' alt="{{ item.label }}"/>
              <div class="card-body">
                <a href="{{ item.url | absolute_url }}"><h3 class="card-title">{{ item.label }}</h3></a>
                <p class="card-text small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>

          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $( document ).ready(function() {
    var container = $('#wax-gallery-{{ include.collection }}-container');
    var gallery = $('#wax-gallery-{{ include.collection }}');

    {% if include.facet_by %}
        $(document).ready(function(){

          console.log({{ facet_list | jsonify }}) // liquid array of one or more fields for facetting

          $(".facet").click(function(){
            var filterValue = $(this).attr('data-filter');
            $('.facet').removeClass('active');
            $(this).addClass('active');
            if(filterValue == 'all') { $('.all').show('slow'); }
            else { $('.all').hide('slow'); $(`.${filterValue}`).show('slow'); }
          });
        });

        $('.facet-bn[aria-expanded]').click(function(event){
          $(this).parent().parent().toggleClass("active");
          // this selector might return multiple elements
          $(this).children('legend').children('.oi').toggleClass("oi-chevron-bottom oi-chevron-top");
        });
    {% endif %}
  });
</script>
