<header class="site-header">
    <nav class="navbar navbar-expand-md banner">
        <a class="title navbar-brand" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
        <span class="subtitle navbar-text">{{ site.subtitle | escape }}</span>
  <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
    aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon">&#9776;</span></button>

  <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent15">
                
    <!-- Links -->
            <ul class="navbar-nav ml-auto">
            {% for item in site.menu %}
                {% if item.sub %}
                <li class='nav-item dropdown'>
                <a class='nav-link dropdown-toggle' href='#' id='wax-{{ item.label | slugify }}-dropdown' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                {{ item.label }}
                </a>
                <div class='dropdown-menu' aria-labelledby='wax-{{ item.label | slugify }}-dropdown'>
                {% for sub in item.sub %}
                <a class='dropdown-item' href='{{ sub.link | absolute_url }}'>{{ sub.label }}</a>
                {% endfor %}
                </div>
                </li>
                {% else %}
                <li class='nav-item'>
                    <a class='nav-link' href='{{ item.link | absolute_url }}'>{{ item.label }}</a>
                </li>
                {% endif %}
            {% endfor %}                
            </ul>
        </div>
    </nav>
</header>
