// Facets

// Import Bootstrap

@import 'bootstrap';

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

body {
  font-family: $body-font;
}

main {
	padding: 2rem;
}

.subtitle {
	padding-bottom: 0.3125rem;
}

.banner {
	background-color: $dark-background;
	color: $light-text;
}

.banner a {
	color: $light-link;
}

.banner a:hover {
  color: $light-link-hover;
}

a.action-button {
	background-color: $medium-background;
	color: $light-text;
}

a.action-button:hover  {
  background-color: $dark-background;
  color: $light-link-hover;
}
