// Facets

// Import Bootstrap

@import 'bootstrap';

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

body {
  font-family: $body-font;
}

main {
	padding: 2rem;
}

.subtitle {
	padding-bottom: 0.3125rem;
}

.banner {
	background-color: #440027;
	color: #D49A6A;
}

a {
	color: #FFD1AA;
}

a:hover {
  color: #CD88AF;
}

a.action-button {
	background-color: #801515;
	color: #D49A6A;
}

a.action-button:hover  {
  background-color: #440027;
  color: #CD88AF;
}
