---
layout: default
---

{% assign links = site[page.collection] | sort: 'order' | map: 'url' %}
{% for link in links %}
  {% if link == page.url %}
    {% if forloop.first %}
      {% assign prevlink = links | last %}
      {% assign nextlink = links[forloop.index] %}
    {% elsif forloop.last %}
      {% assign prevlink = prev %}
      {% assign nextlink = links | first %}
    {% else %}
      {% assign prevlink = prev %}
      {% assign nextlink = links[forloop.index] %}
    {% endif %}
  {% endif %}
  {% assign prev = link %}
{% endfor %}

<div class="row">
  <div class="pagination mx-auto">
    <div class='pagination-link' id='prevlink'><a href='{{ prevlink | absolute_url }}' >&#9668;</a></div>
    <div class='pagination-link' id='nextlink'><a href='{{ nextlink | absolute_url }}' >&#9658;</a></div>  </div>
</div>


<div class='row card thumbnail-card'>


<!-- The block below controls the image viewer -->

  {% if page.image_viewer %}
    {% assign viewer = page.image_viewer %}
  {% elsif layout.image_viewer %}
    {% assign viewer = layout.image_viewer %}
  {% endif %}

  {% if viewer %}
        <div class='item-view w-100 mb-2' >
          {% if viewer == 'openseadragon' %}
            {% include osd_iiif_image_viewer.html manifest=page.manifest prevlink=prevlink nextlink=nextlink %}
          {% else %}
             {% include simple_image_viewer.html full_image=page.full prevlink=prevlink nextlink=nextlink %}
          {% endif %}
        </div>
  {% endif %}

  <div class="card-body item-metadata">

<!-- The block below controls the item metadata table -->

    <h1 alt="{{ page.label }}" class='item-label'>{{ page.label }}</h1>
    <div class="row">
      {% if layout.meta.size %}
        {% assign metadata = layout.meta %}
      {% elsif page.meta.size %}
        {% assign metadata = page.meta %}
      {% endif %}
      {% if metadata.size %}
        {% include item_metadata.html meta=metadata %}
      {% endif %}
    </div>
  </div>
</div>
