---
layout: default
---

{% comment %}
  Update this page to use the same kind of Bootstrap card
  as the gallery.
{% endcomment %}

<div class="row">
  <div class="pagination mx-auto">
    <div class='pagination-link' id='prevlink'></div>
    <div class='pagination-link' id='nextlink'></div>
  </div>
</div>
<div class="row">
  <h1 alt="{{ page.label }}" class='item-label'>{{ page.label }}</h1>
</div>

<div class='row card thumbnail-card'>

  {% comment %}
    The block below controls the image viewer
  {% endcomment %}

  {% if page.image_viewer %}
    {% assign viewer = page.image_viewer %}
  {% elsif layout.image_viewer %}
    {% assign viewer = layout.image_viewer %}
  {% endif %}

  {% if viewer %}
        <div class='item-view w-100 mb-2' >
          {% if viewer == 'openseadragon' %}
            {% include osd_iiif_image_viewer.html manifest=page.manifest prevlink=prevlink nextlink=nextlink %}
          {% else %}
             {% include simple_image_viewer.html full_image=page.full prevlink=prevlink nextlink=nextlink %}
          {% endif %}
        </div>
    {% unless layout.pagination == false %}{% include item_pagination.html %}{% endunless %}
  {% endif %}

  <div class="card-body">
    {% comment %}
      The block below controls the item metadata table
    {% endcomment %}

    <div class="row">
      {% if layout.meta.size %}
        {% assign metadata = layout.meta %}
      {% elsif page.meta.size %}
        {% assign metadata = page.meta %}
      {% endif %}
      {% if metadata.size %}
        {% include item_metadata.html meta=metadata %}
      {% endif %}
    </div>
  </div>
</div>
